<div class="navTabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout fxFlexAlign="center center">
      
      <a mat-tab-link routerLink="/"
        routerLinkActive #home="routerLinkActive"
        [active]="home.isActive">
        Home
      </a>

      <a mat-tab-link routerLink="/accomodations"
        routerLinkActive #accomodations="routerLinkActive"
        [active]="accomodations.isActive">
        Accomodations
      </a>

      <a mat-tab-link routerLink="/foodandbeverage"
        routerLinkActive #foodandbeverage="routerLinkActive"
        [active]="foodandbeverage.isActive">
        Food &amp; Beverage
      </a>

      <a mat-tab-link routerLink="/lifestyle"
        routerLinkActive #lifestyle="routerLinkActive"
        [active]="lifestyle.isActive">
        Lifestyle
      </a>

      <a mat-tab-link routerLink="/celebrations"
        routerLinkActive #celebrations="routerLinkActive"
        [active]="celebrations.isActive">
        Celebrations
      </a>

      <a mat-tab-link routerLink="/offers"
        routerLinkActive #offers="routerLinkActive"
        [active]="offers.isActive">
        Offers
      </a>
    
    </nav>

</div>



<!-- I added a span here before, this is a good technique -->
<!-- <span class="toolbar-flex"></span>
        <mat-tab-group>
          <mat-tab label="Home">
            <app-home></app-home>
          </mat-tab>
          <mat-tab label="Accomodation"></mat-tab>
          <mat-tab label="Celebrations"></mat-tab>
          <mat-tab label="Lifestyle"></mat-tab>
          <mat-tab label="Food & Beverage"></mat-tab> 
          <mat-tab label="hello 6"></mat-tab> 
        </mat-tab-group>
        <span class="toolbar-flex"></span> -->