@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$hotel-primary: (
50 : #f0f9f8,
100 : #d9efed,
200 : #c0e5e2,
300 : #a6dbd6,
400 : #93d3cd,
500 : #80cbc4,
600 : #78c6be,
700 : #6dbeb6,
800 : #63b8af,
900 : #50aca2,
A100 : #ffffff,
A200 : #d9fffb,
A400 : #a6fff5,
A700 : #8cfff2,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);

$hotel-accent: (
50 : #fefcf5,
100 : #fcf7e7,
200 : #faf1d7,
300 : #f7ebc6,
400 : #f6e7ba,
500 : #f4e3ae,
600 : #f3e0a7,
700 : #f1dc9d,
800 : #efd894,
900 : #ecd084,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #fffdf7,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$thehotel-primary: mat-palette($hotel-primary, 700, 200, 900);
$thehotel-accent:  mat-palette($hotel-accent, 300);

// The warn palette is optional (defaults to red).
$thehotel-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$thehotel: mat-light-theme($thehotel-primary, $thehotel-accent, $thehotel-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@import './app/navigation/navtabs/navtabs.component-theme.scss';

@include angular-material-theme($thehotel);

// NavTabs Component SCSS file
@include navtabs-component-theme($thehotel);




// All of our styles will go here

// SideNav styles
.mat-list-option:hover, 
.mat-list-option:focus, 
.mat-nav-list .mat-list-item:hover, 
.mat-nav-list .mat-list-item:focus {
    background-color: mat-color($thehotel-primary, 100);
    color: mat-color($thehotel-primary, 900);
}